<div id="group">
  <h2>Details on group '{{ group.name}}'</h2>
  <div class="container">
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">ID</span>
      </div>
      <div class="col col-sm-8">
        <span>{{ group.id}}&nbsp;</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">Owner</span>
      </div>
      <div class="col col-sm-8">
        <span><a href="" v-if="group.owner">{{ group.owner.firstname }} {{ group.owner.lastname }}</a>&nbsp;</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">Description</span>
      </div>
      <div class="col col-sm-8">
        <span>{{ group.description }}&nbsp;</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">URL</span>
      </div>
      <div class="col col-sm-8">
        <span>{{ group.url }}&nbsp;</span>
      </div>
    </div>  
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">Public</span>
      </div>
      <div class="col col-sm-8">
        <span>{{ group.public ? 'Oui' : 'Non' }}&nbsp;</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">Date de création</span>
      </div>
      <div class="col col-sm-8">
        <span>2015-03-11 13:59:30</span>
      </div>
    </div>
    <div class="row" v-if="group.members">
      <div class="col col-sm-4">
        <span class="label">{{ getMemberCount() }} membres</span>
      </div>
      <div class="col col-sm-8">
        <ul>
          <li v-for="member in group.members"><a href="#">{{ member.firstname }} {{ member.lastname}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p style="text-align:center;padding-top:50px;">
    <button class="btn btn-primary" @click="quitGroupDetail()">Back To Home</button>
  </p>
</div>