<div id="home">
  <h2>Groups you own</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-4" v-if="groups" v-for="(group, index) in groups">
        <div class="card" :class="group.access ? 'private' : ''" @click="showGroup(index + fromto.from)">
          <h3>{{ group.name }}</h3>
          <p>{{ group.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <app-pager :total-elements="groupCount" :max-per-page="maxPerPage" :current-pos="fromto.from" @fromTo="changeResult"></app-pager>
  <div class="log">
    <ul>
      <li v-for="grouplog in logGroupSeen">{{ grouplog }}</li>
    </ul>
  </div>
</div>
