<div id="group">
  <h2>Details on group 'IDEVELOP'</h2>
  <div class="container">
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">ID</span>
      </div>
      <div class="col col-sm-8">
        <span>G11117</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">Owner</span>
      </div>
      <div class="col col-sm-8">
        <span><a href="">Han Solo</a></span>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">Description</span>
      </div>
      <div class="col col-sm-8">
        <span>Membre du groupe IDEVELOP</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">URL</span>
      </div>
      <div class="col col-sm-8">
        <span>&nbsp;</span>
      </div>
    </div>  
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">Public</span>
      </div>
      <div class="col col-sm-8">
        <span>Non</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">Date de création</span>
      </div>
      <div class="col col-sm-8">
        <span>2015-03-11 13:59:30</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-sm-4">
        <span class="label">2 membres</span>
      </div>
      <div class="col col-sm-8">
        <ul>
          <li><a href="#">Jon Do</a></li>
          <li><a href="#">Henri Emmanuel</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>